.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $fill-in-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  justify-content: center;
  padding-left: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.features-item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
}

.features-box {
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: $wwd-backgr;
  margin-bottom: 30px;
  border-radius: 4px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
  /* padding-right: 192px;
  padding-left: 192px; */

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    padding-right: 144px;
    padding-left: 144px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

.feature-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $header-color;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.item-p {
  /* width: 450px;
  height: 50px;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 75px;
  } */
}
