.features-section {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $fill-in-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features-list {
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.features-item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-box {
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: $wwd-backgr;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.f-background-1 {
  background-image: url(../images/svg-icons/features-svg/antenna-1.svg);
}

.f-background-2 {
  background-image: url(../images/svg-icons/features-svg/astronaut-1.svg);
}

.f-background-3 {
  background-image: url(../images/svg-icons/features-svg/clock-1.svg);
}

.f-background-4 {
  background-image: url(../images/svg-icons/features-svg/diagram-1.svg);
}

.feature-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $header-color;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
