.features-section {
  /* padding-top: 94px; */
  background-color: $fill-in-color;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.features-list {
  padding-left: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.features-item {
  /* display: flex; */
}

.features-box {
  /*  display: flex; */
  height: 120px;
  background-color: $wwd-backgr;
  margin-bottom: 30px;
  border-radius: 4px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $header-color;
  margin-bottom: 10px;
}

.item-p {
  /*  width: 270px; */
  /* height: 75px; */

  /*  @media screen and (min-width: 480px) {
    width: 450px;
    width: 50px;
  } */

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 75px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 75px;
  }
}
