.hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $hero-backg-cl;
  background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackgrund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-header {
  text-align: center;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $fill-in-color;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.hero-button {
  background-color: $hover-color;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $fill-in-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $hover-color;
    background-color: $wwd-backgr;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
