.loyal-customers-section {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $fill-in-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.loyal-customers-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $hero-backg-cl;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.loyal-customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.loyal-customers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid $clients-list-color;
  border-radius: 4px;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    border-color: $hover-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .loyal-customers-svg,
  &:focus .loyal-customers-svg {
    fill: $hover-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 479px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    margin-bottom: 0;
  }
}

.loyal-customers-link {
  box-sizing: border-box;
  fill: $clients-list-color;
}
