.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: translate(-50%, 0) scale(0.2, 0.25);
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: $fill-in-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  &:hover svg,
  &:focus svg {
    fill: $hover-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-header {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $header-color;
}

.modal-input-form {
  position: relative;
  display: flex;
  flex-direction: column;

  & input:hover,
  & input:focus {
    outline: none;
    border: 1px solid $hover-color;
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover svg,
  &:focus svg {
    fill: $hover-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus-within {
    fill: $hover-color;
  }

  & textarea:hover,
  & textarea:focus {
    outline: none;
    border: 1px solid $hover-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.modal-input-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  & input[type="checkbox"] + label::before {
    background: url(../images/checkbox.svg);
  }

  & input[type="checkbox"]:checked + label::before {
    background: url(../images/checkbox-check.svg);
  }

  & label::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 3px;
    left: 8px;
    width: 16px;
    height: 15px;
    background: url("../images/checkbox.svg");
  }

  & input {
    visibility: hidden;
  }
}

.modal-input-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: $main-text-color;
}

.modal-input-field {
  margin-bottom: 10px;
  padding-left: 40px;
  width: 448px;
  height: 40px;
  font-style: $header-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: $main-text-color;
}

.modal-input-textarea {
  margin-bottom: 20px;
  padding: 12px 16px 12px 16px;
  max-width: 100%;
  min-width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: $main-text-color;

  &::placeholder {
    font-size: 12px;
    line-height: 1.33;
    align-items: left;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-input-icon {
  position: absolute;
  top: 32px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-input-check-icon {
  position: absolute;
  top: 3px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-send-button {
  width: 200px;
  height: 50px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: $hover-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $fill-in-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $modal-button-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.checkbox-agr-link {
  color: $hover-color;
}
