.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $wwd-backgr;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: $hero-backg-cl;
}

.team-memb-box {
  width: 270px;
  height: 428px;
  background: $fill-in-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(last-child) {
    margin-right: 30px;
  }
}

.tm-description {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team-memb-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $header-color;
  margin-bottom: 10px;
}

.team-memb-role {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.social-team-box {
  display: flex;
  justify-content: space-evenly;
}

.social-team-icons {
  display: flex;
  padding: 0;
}

.social-icons-item {
  list-style: none;
  fill: $fill-in-color;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $hover-color;
  }

  &:hover .social-team-svg,
  &:focus .social-team-svg {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $fill-in-color;
  }
}

.social-team-svg {
  width: 20px;
  height: 20px;
  fill: $clients-list-color;
}
