.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-backg-cl;
}

.contact-list {
  display: flex;
}

.contact-list-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $fill-in-color;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.map-link-box {
  margin-bottom: 9px;
}

.map-link {
  font-style: normal;
  color: $fill-in-color;
}

.mail-link-box {
  margin-bottom: 9px;
}

.link-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-icons {
  display: flex;
  padding: 0;
  margin-left: 70px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $hover-color;
  }
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: $fill-in-color;
}

.telegram-sub-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $fill-in-color;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 93px;
}

.telegram-sub-form {
  display: flex;
  padding: 0;
  margin-left: 93px;
}

.telegram-sub-label {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  & textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.telegram-sub-button {
  display: flex;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 0px 10px 29px;
  border-radius: 4px;
  background-color: $hover-color;
  color: $fill-in-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.telegram-btn-logo {
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px 28px 3px 10px;
  background-image: url(../images/social-links/telegram-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-box {
  margin-bottom: 20px;
}
