html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
select,
textarea {
  color: $fill-in-color;
}

body {
  font-family: $main-font-family, $secondary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-right: auto;
  margin-left: auto;
}
