/* Colors */
$main-text-color: #757575;
$header-color: #212121;
$hover-color: #2196f3;
$hero-backg-cl: #2f303a;
$fill-in-color: #ffffff;
$opacity-color: rgba(255, 255, 255, 0.6);
$wwd-backgr: #f5f4fa;
$features-color: #e5e5e5;
$clients-list-color: #afb1b8;
$bottom-border-color: #ececec;
$modal-button-hover: #188ce8;

/* Fonts */
$main-font-family: "Roboto";
$secondary-font-family: "sans-serif";
$logo-font-family: "Raleway";
